{{docs-hero
  logo="ember"
  slimHeading="FilePond"
  byline="A handy FilePond adapter component for Ember"}}

<div class="docs-container docs-md">
  <section class="docs-section max-w-md mx-auto pb-8">
    <img src="https://cdn.rawgit.com/alexdiliberto/ember-filepond/master/tests/dummy/public/filepond-logo.svg" alt="FilePond Logo" class="block w-full mx-auto my-4">

    <h2>Introduction</h2>

    <p><a href="https://pqina.nl/filepond/">FilePond</a> is a JavaScript library that can upload anything you throw at it, optimizes images for faster uploads, and offers a great, accessible, silky smooth user experience. This addon is an adapter to use with your Ember applications.</p>

    <div class="my-5 text-right">
      {{#docs-link "docs"}}
        <button class="bg-grey-darkest hover:bg-black text-white py-2 px-4 no-underline rounded">
          Get started &rarr;
        </button>
      {{/docs-link}}
    </div>
  </section>
</div>